.merch-box {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 25px;
    right: -260px;
    border: 2px solid black;
    border-radius: 15px;
    
}

.merch-box:hover {
    box-shadow: -5px 6px 19px 0px black;
    cursor: pointer;
}

.merchcont {
    margin-top: 50px;
    
}

.alsoblurb {
    
        text-align: left;
        width: 320px;
        height: 210px;
        right: -975px;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid black;
        padding: 15px;
        border-radius: 5px;
        overflow: hidden;
}